.customCarousel {
  margin: 16px 0;
  height: 280px;
  display: grid;
}

.hasSideBanner {
  grid-template-columns: 1fr 3fr;
  gap: 16px;
}

.sideBanner {
  grid-column: 1 / 2;
  overflow: hidden;
  border-radius: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
